/*
Theme Name: Festival de Cine Chileno 2015
Theme URL: http://www.fecich.cl
Description: Theme del sitio web del festival de cine. Usa Twitter Bootstrap para el apartado responsive.
Version: 1.0
Author: Pedro Pablo Pastene Eluani
Author URI: i-dont-have.one
Tags: bootstrap, cine, quilpue, responsive, festival, marga marga, chile
*/

@import url('css/bootstrap.min.css');
@import url('css/flexslider.css');

a
{
	font-family: 'Open Sans', sans-serif, !important;
	text-decoration: none, !important;
}

main
{
	padding: 0 15px;
	text-align: justify !important;
}

h1, h2, h3
{
	margin-top: 10px !important;
}

div.noticia a
{
	font-weight: bolder;
}

div.noticia p.fecha-publicacion
{
	font-size: 11px;
	margin: 0;
	padding: 0;
}

div.noticia img
{
	overflow: hidden;
}

.slide-peliculas ul.slides li
{
	margin: 0 4.5px;
}

.slide-noticias .slides li
{
	position: relative;
}

.slide-noticias .slides .flex-caption
{
	position:absolute;
  bottom:0;
  left:0;
  margin:0;
  padding:20px;
  color:white;
	width:100%;
	margin:0;
  background-color: rgba(0, 0, 0, 0.75);
}

div.panel-body .row, img
{
	margin: 0 auto;
}

div.columna-publicidad h3
{
	margin:0;
	padding:0;
}

div.ficha-pelicula
{
	margin-top: 10px;
}

div.slide-peliculas-sidebar ul
{
	list-style-type: none;
	padding: 0;
}

div.slide-peliculas-sidebar ul li
{
	float: none;
	margin: 0 40px !important;
}

div#logo img, footer img
{
	margin: 0 auto;
}
